/*! @import */

@tailwind base;
@tailwind components;
@tailwind utilities;

.router-link-active {
  @apply text-green-secondary;
}

.trx-custom {
  @apply transition;
  @apply duration-100;
}

.the-header {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.75);
}

.the-form {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.3);
}
